[submodule "mast3r"]
	path = mast3r
	url = https://github.com/Bin-ze/mast3r.git
	
[submodule "gaussian-splatting"]
    path = gaussian-splatting
    url = https://github.com/Bin-ze/gaussian-splatting.git